<form role="form" ng-controller="AddController">
    <md-content>
        <div layout="row">
            <md-input-container>
                <label>Recipe Name</label>
                <input ng-model="recipe.recipeName">
            </md-input-container>
            <md-input-container>
                <label>Category</label>
                <input ng-model="recipe.category">
            </md-input-container>
            <md-input-container>
                <label>Tags</label>
                <input ng-model="recipe.tags">
            </md-input-container>
        </div>
        <div data-ng-repeat="ingredient in ingredients">
            <md-input-container>
                <label>Ingredient Name</label>
                <input ng-model="ingredient.name">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-show="$last" ng-click="addNewIngredient()">Add another
                ingredient
            </md-button>
        </div>
        <div data-ng-repeat="step in steps">
            <md-input-container>
                <label>Step {{step.id}}</label>
                <input ng-model="step.name">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-show="$last" ng-click="addNewStep()">Add another step</md-button>
        </div>
    </md-content>
    <br/>
    <md-button class="md-raised" ng-click="submitRecipe(event)">Submit</md-button>
</form>

