<div ng-controller="DetailController">
    <md-card>
        <md-toolbar>
            <h2 class="md-toolbar-tools recipe-name">
                <span>{{recipe.recipeName}}</span>
            </h2>
        </md-toolbar>
        <md-divider></md-divider>
        <h3>Category: {{recipe.category}}</h3>

        <h3>Tags: {{recipe.tags}}</h3>

        <h3>Created: {{recipe.createdDate}}</h3>

        <h3>Last Modified Date: {{recipe.lastModifiedDate}}</h3>
    </md-card>
    <md-card>
        <h3>
            <span>Ingredients</span>
        </h3>
        <md-list>
            <md-item ng-repeat="ingredient in ingredients">
                <md-item-content>
                    <div class="md-tile-content">
                        <h4>{{ingredient.name}}</h4>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-card>
    <md-card>
        <md-content>
            <h3>
                <span>Steps</span>
            </h3>
            <md-list>
                <md-item ng-repeat="step in steps">
                    <md-item-content>
                        <div class="md-tile-left">
                            <h2><span>{{step.id}}</span></h2>
                        </div>
                        <div class="md-tile-content">
                            <h4>{{step.number}} {{step.name}}</h4>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </md-content>
    </md-card>

    <div ng-include="'/include/footer.html'"></div>
</div>