<ul class="footer list-unstyled">

    <li class="floatingButton" ng-if="recipe.name">
        <a href="#edit/{{ recipe.$id }}" id="editButtonFloating">
            <md-button class="md-fab md-primary" aria-label="Edit Recipe" md-theme="default"><span
                    class="glyphicon glyphicon-pencil" aria-hidden="true"></span></md-button>
        </a>
    </li>

    <li class="floatingButton">
        <a href="#add" id="addButtonFloating">
            <md-button class="md-fab md-primary" aria-label="Add Recipe" md-theme="default"><span
                    class="glyphicon glyphicon-plus"
                    aria-hidden="true"></span></md-button>
        </a>
    </li>
</ul>