<div>
    <md-content>
        <md-list>
            <md-item ng-repeat="recipe in recipeService.recipes">
                <md-item-content>
                    <div class="md-tile-content">
                        <md-button ng-href="#/detail/{{recipe.recipeKey.id}}" ng-click="openRecipe()">
                            {{recipe.recipeName}}
                        </md-button>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
    <div ng-include="'/include/footer.html'"></div>
</div>