<html lang="en" ng-app="RecipeManager">
<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Recipe Manager</title>
    <link rel="stylesheet" type="text/css" href="/style/poole.css">
    <link rel="stylesheet" type="text/css" href="/style/syntax.css">
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
</head>
<body layout="row" ng-controller="RecipeController as ctrl">
<md-sidenav layout="column"
            class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-closed md-locked-open"
            md-component-id="left"
            md-is-locked-open="$media('gt-md')">

    <md-toolbar layout-align="center center">
        <a ng-click="goHome()">
            <h1 class="md-toolbar-tools">
                Recipe Manager
            </h1>
        </a>
    </md-toolbar>
    <md-content md-scroll-y>
        <md-list>
            <md-item>
                <md-item-content>
                    <md-button ng-click="loginButton()" aria-label="Login Button">
                        <logindirective></logindirective>
                    </md-button>
                </md-item-content>
            </md-item>
            <md-item data-ng-repeat="recipe in recipeService.recipes">
                <md-item-content>
                    <md-button ng-click="toggleSidenav('left')" ng-href="#/detail/{{recipe.recipeKey.id}}" flex>
                        {{recipe.recipeName}}
                    </md-button>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content>
                    <md-button ng-click="">Settings</md-button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center">
        <div layout-align="start start" flex>
            <button ng-click="toggleSidenav('left')" hide-gt-md class="menuBtn">
                <span class="visually-hidden">Menu</span>
            </button>
        </div>
        <div layout-align="center center" flex="70">
            <md-autocomplete
                    md-selected-item-change="ctrl.selectResult(ctrl.selectedItem)"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text="ctrl.searchText"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.recipeName"
                    placeholder="Search">
                <span md-highlight-text="ctrl.searchText">{{item.recipeName}}</span>
            </md-autocomplete>
        </div>
        <div flex></div>
    </md-toolbar>
    <div layout="column" flex id="content">
        <md-content md-scroll-y flex>
            <md-card>
                <md-card-content ng-view>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
<script src="/scripts/angular-route.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/angular-google-gapi.js"></script>
</body>
</html>